<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Familia</title>
</head>

<body>
    <h1>Mi Familia esta compuesta por los siguientes integrantes</h1>
    {% for pariente in familia %}
    <h2>Nombre</h2>
    <h3>{{pariente.nombre}}</h3>
    <h2>Edad</h2>
    <h3>{{pariente.edad}}</h3>
    <h2>Fecha de Nacimiento</h2>
    <h3>{{pariente.nacimiento}}</h3>
    {% endfor %}
</body>

</html>